@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-pink: #ffe5ec;
  --dark-pink: #ff8fab;
  --dark-pink-body: #e35270;
  /* Vibrant darker pink */
  --accent-pink: #fb6f92;
  /* Accent pink for CTAs and interactive elements */
  --white-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url(../../public/waves.png);
  background-color: var(--dark-pink-body);
  background-size: cover;
  
 
  overflow-x: hidden;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




/* utlity */
a {
  text-decoration: none;

}

ul {
  list-style: none;
}

.header {
  padding: 1rem 3rem;
  height: 100vh;
 
  position: relative;
  overflow: hidden;
}

.navbar {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
}


.logo-img {
  width: auto;
  height: 50px;

}

.links {
  display: flex;
  gap: 1rem;


}

.contact-btn {
  padding: .7rem 2rem;
  background-color: var(--white-color);
  color: var(--accent-pink);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.social-btn {
  padding: .7rem 2rem;
  background-color: var(--white-color);
  color: var(--accent-pink);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.text-box {

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
}

.heading {
  font-size: 2rem;
  letter-spacing: .030em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  color: var(--white-color);
  padding-bottom: 2rem;
}



/* Contact Section */

.contact-section {
  padding: 7rem 3rem;
  text-align: center;


}

.contact-heading {
  text-align: center;
  color: white;
  /* Change color as needed */
  font-size: 1.5rem;
  /* Adjust size as needed */
  overflow: hidden;
}





.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

input {
  max-width: 280px;
  width: 280px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0rem;
  transition: all .5s;
}

input:focus {
  border-bottom: 1px solid #fff;
}

input[type="button"] {
  width: inherit;
  margin-top: 3rem;
  border-bottom: none;
  padding: .7rem 3rem;
  background-color: var(--white-color);
  color: var(--accent-pink);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}


input::placeholder {
  color: #ffffff;
  font-size: 1.1rem;

}

/* Footer */
.footer {
  padding-top: 5rem;
  text-align: center;
}

.footer-text {
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: bold;
}


/* BG */
.header-right-follower {
  right: -9rem;
}

.header-left-follower {
  top: 10rem;
}

.acordion-right-follower {
  right: -9rem;
  top: -5rem;

}

.acordion-left-follower {
  width: 10%;
}

.contact-right-follower {
  right: -9rem;
  top: -5rem;

}

.contact-left-follower {
  width: 10%;
  bottom: 1rem;
}

.footer-left-follower {
  width: 10%;
  left: 28rem;
  top: 0;

}

.footer-right-follower {
  right: -9rem;
  top: -5rem;
}

@media screen and (max-width: 600px) {
  .text-box { width: 100%;
  }
  footer {
    padding-left: 3rem !important /* 192px */;
    padding-right: 3rem !important /* 192px */;
  }
  .header-right-follower {
    right: -2rem;
  }

  .header-left-follower {
    top: 26rem;
  }

  .acordion-right-follower {
    right: 0;
    top: 5rem;

  }

  .contact-right-follower {
    right: 0;
    top: 5rem;

  }


  .footer-left-follower {
    width: 10%;
    left: 0;
    top: 12rem;

  }

  .footer-right-follower {
    right: 0rem;
    top: 0rem;
  }

}

/* Media Queries */

@media screen and (min-width: 768px) {


  .toggle-btn {
    display: block;
  }

  .heading {
    font-size: 2.5rem;
  }

  .contact-heading {
    font-size: 2rem;
  }

  .input-group {

    display: flex;
    flex-direction: row;

  }

  input {
    width: 300px;
    max-width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .toggle-btn {
    display: none;
  }

  aside {
    display: none;
  }

  .heading {
    font-size: 3.5rem;
  }

  .contact-heading {
    font-size: 2.5rem;
  }

  .input-group {

    display: flex;
    flex-direction: row;

  }

  input {
    width: 600px;
    max-width: 600px;
  }
}





/* ::-webkit-scrollbar {
 display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
} */